apiVersion: v1
kind: ServiceAccount
metadata:
  name: netevd
  namespace: kube-system
  labels:
    app: netevd

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: netevd
  labels:
    app: netevd
rules:
- apiGroups: [""]
  resources:
    - nodes
    - pods
    - events
  verbs:
    - get
    - list
    - watch
    - create
    - patch
- apiGroups: [""]
  resources:
    - configmaps
  verbs:
    - get
    - list
    - watch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: netevd
  labels:
    app: netevd
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: netevd
subjects:
- kind: ServiceAccount
  name: netevd
  namespace: kube-system
